package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;
import java.util.Date;
import com.ss.common.utils.IdGen;
import ${package}.dao.${className}Dao;
import ${package}.domain.${className}DO;
import ${package}.service.${className}Service;



@Service
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className}DO get(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.get(${pk.attrname});
	}
	
	@Override
	public List<${className}DO> list(Map<String, Object> map){
		return ${classname}Dao.list(map);
	}
	
	@Override
	public int count(Map<String, Object> map){
		return ${classname}Dao.count(map);
	}
	
	@Override
	public int save(${className}DO ${classname}){

        /**
        * 设置默认值
		*/
		${classname}.setId(IdGen.uuid());
		${classname}.setCreated(new Date());
		${classname}.setModified(new Date());
		${classname}.setDelFlag("0");


		return ${classname}Dao.save(${classname});
	}
	
	@Override
	public int update(${className}DO ${classname}){
        /**
        * 设置默认值
        */
		${classname}.setModified(new Date());

		return ${classname}Dao.update(${classname});
	}
	
	@Override
	public int remove(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.remove(${pk.attrname});
	}
	
	@Override
	public int batchRemove(${pk.attrType}[] ${pk.attrname}s){
		return ${classname}Dao.batchRemove(${pk.attrname}s);
	}

    @Override
    public int pseudoRemove(${pk.attrType} ${pk.attrname}){

        return ${classname}Dao.pseudoRemove(${pk.attrname});
    }

    @Override
    public int pseudoBatchRemove(${pk.attrType}[] ${pk.attrname}s){

        return ${classname}Dao.pseudoBatchRemove(${pk.attrname}s);
    }
	
}
